@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

:root {
  --base-background-color: #e6f2ff;
  --base-font-family: 'Montserrat', sans-serif;
  --code-inline-background: #D5EAFA;
  --code-theme-background: #D5EAFA;
  --sidebar-toggle-background: #D5EAFA;
	--copycode-background: #b3d9ff;
	--copycode-color: #000;
}

.sidebar {
  background-color: #e6f2ff;
}

.sidebar > h1 .app-name-link {
  color: #000;
}
